<template>
  <div class="lg:w-7/12 w-full h-96">
    <div class="h-full w-full" id="map" ref="map"></div>
  </div>
  <div class="description">
    <div><title>ssssss</title></div>
  </div>

</template>

<style>

.description {
  margin-top: 1rem;
  border: solid;
}

</style>

<script setup>
import { Loader } from "@googlemaps/js-api-loader";
import { ref } from "vue";

let map = ref(null);

const loader = new Loader({
  apiKey: "",
  version: "weekly",
});

loader.load().then(() => {
  let myLatLng = { lat: 58.24806, lng: 22.50389 };
  map = new google.maps.Map(map.value, {
    zoom: 8,
    center: myLatLng,
});

new google.maps.Marker({
  position: myLatLng,
  map,
  title: "Hello World!",
});

map.addListener("click", (event) => {
  const location = event.latLng.toJSON();
  console.log(location)
  addMarker(location, map);
});

});

const addMarker = (cord, map) => {
  new google.maps.Marker({
  position: cord,
  map,
  title: "Hello World!",
});

}

</script>

